@charset "UFT-8";
:root {
    --cor0: #96C5FA;
    --cor1: #1D78E0;
    --cor2: #175EAD;
    --cor3: #223F61;
    --cor4: #0D3461; 
    --fonte-padrao :arial, verdana, sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);

}

header {
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor4));
    min-width: 150px;
    text-align: center;
    padding: 30px 0px 5px 0px;
}

header > h1 {
    color: white;
    font-size: 2.5em;
    font-weight: normal;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.267);
}

nav {
    background-color: transparent;
    padding: 10px;
    text-align: left;

}

nav > a {
    color: var(--cor0);
    padding: 10px;
    margin: 5px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bolder;
    transition: .3s;
}

nav > a:hover {
    background-color: var(--cor2);
    color: var(--cor0);
}


main {
    min-width: 300px;
    max-width: 1000px;
    padding: 0px 10px 10px 10px;
    margin: auto;
    background-color: white;
    border-radius: 0px 0px 10px 10px;
}


#sobre {
    display: inline-block;
}

#sobre > h2 {
    margin: 5px 5px 5px 5px;
    height: 25px;
    padding: 10px;
    background-image: linear-gradient(to right, var(--cor0), transparent);
    border-radius: 5px 5px 0px 0px;
}

#sobre > p {
    text-align: justify;
    margin: 5px 5px 5px 5px;
    height: 104px;
}

.imagens {
    margin: 10px;
}

.imagens > div#android {
    width: 200px;
    height: 150px;
    display: inline-block;
    margin-left: 10px;
    margin-right: 45px;
    background-color: green;
}

.imagens > div#cordel {
    width: 200px;
    height: 150px;
    display: inline-block;
    margin-right: 45px;
    background-color: black;
}

.imagens > div#login {
    width: 200px;
    height: 150px;
    display: inline-block;
    margin-right: 45px;
    background-color: gray;
}

.imagens > div#analos {
    width: 200px;
    height: 150px;
    display: inline-block;
    background-color: bisque;
}

main > div {
    margin-top: 10px;
}


footer {
    background-color: var(--cor4);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
    padding-bottom: 22px;
}
